<p id="notice"><%= notice %></p>

<h1>Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>Importe</th>
      <th>Interes</th>
      <th>Tipo pago</th>
      <th>Subtipo pago</th>
      <th>Cuotas</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.importe %></td>
        <td><%= prestamo.interes %></td>
        <td><%= prestamo.tipo_pago %></td>
        <td><%= prestamo.subtipo_pago %></td>
        <td><%= prestamo.cuotas %></td>
        <td><%= prestamo.total %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
